.button {
  margin: 1.5em 0;
  padding: 0.5em 1em;
  font-weight: bold;
  text-decoration: none;

  &-transparent {
    mix-blend-mode: screen;
    background-color: white;
    color: black;

    &:before {
      //mix-blend-mode: screen;
      mix-blend-mode: color-dodge;
    }
  }


  &-primary {
    background-color: #39499f;
    color: white;
    border: unset;
  }
}