<nav class="navbar">
    <div class="navbar__col__left">
        <a href="/" class="navbar__title">Pomodoro</a>
    </div>
    <div class="navbar__col__right">
        <ul class="navbar__list">
            <li>Home</li>
            <li class="navbar__list_about">About</li>
        </ul>
    </div>
</nav>