<div class="player">
    <div class="player__wrapper">
        <div class="player__wrapper__play-backward-button"><i class="fa-solid fa-backward fa-2x"></i></div>
        <div class="player__wrapper__play-button"><i class="fa-solid fa-play fa-2x"></i></div>
        <div class="player__wrapper__play-forward-button"><i class="fa-solid fa-forward fa-2x"></i></div>
    </div>
</div>