{% extends "page.twig" %}
{% block title %}
    Pomodoro
{% endblock %}


{% block content %}
    <section class="section">
        <h2>Pomodoro</h2>
        <p class="headline--subtitle">Help you with setting up timer and music for your pomodoro
            technique.</p>
        <i class="fa-solid fa-headphones fa-2x" style="color: darkgrey; margin-top: 0.3em"></i>
        <div class="list list-features">
            <ul>
                <li><i class="fa-solid fa-circle-check"></i> Easy To Use Custom Timer</li>
                <li><i class="fa-solid fa-circle-check"></i> Unlimited Tracks</li>
                <li><i class="fa-solid fa-circle-check"></i> Predefined Playlists</li>
            </ul>
        </div>
        {{ url_for("index") }}
        <a class="button" href="{{ url_for('session-config') }}">Start Session</a>
    </section>
{% endblock %}