{% extends "page.twig" %}
{% block title %}
    Pomodoro Configuration
{% endblock %}

{% block content %}
    <section class="section">
        <h2>Configuration</h2>
        <h3>Progress Bar...</h3>
        <div class="config-panel">
            <div class="text-end">
                <a class="button button-primary" onclick="Main.collectData()">Start Session</a>
            </div>
            <div class="form-control">
                <label for="session-duration">session duration</label>
                <input id="session-duration" class="config-panel__input" type="time" value="1:00">
            </div>
            <div class="form-control">
                <label for="working-block-length">working block length (min)</label>
                <input id="working-block-length" class="config-panel__input" type="number" value="25">
            </div>
            <div class="form-control">
                <label for="break-length">break length (min)</label>
                <input id="break-length" class="config-panel__input" type="number" value="5">
            </div>
            <div class="form-control">
                <label for="youtube-link">youtube link</label>
                <input id="youtube-link" class="config-panel__input" type="text" placeholder="https://www.youtube.com/watch?v=kHq_zevqJPc">
            </div>
            <!--
            <hr>
            <p>Search for tracks on Youtube</p>
            <hr>
            <input class="config-panel__input" type="text" placeholder="search term...">
            <select class="config-panel__select">
                <option class="config-panel__select__option" value="0">Search for</option>
                <option class="config-panel__select__option" value="1">Videos</option>
                <option class="config-panel__select__option" value="2">Playlist</option>
            </select>
            -->
            <!--<div class="dropdown">
                <button class="button button-primary dropdown__button">Show recommended playlists</button>
                <ul class="dropdown__item-list">
                    <li>
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/kHq_zsqJCPc"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </li>
                </ul>
            </div>-->
        </div>
    </section>
{% endblock %}