{% extends "page.twig" %}
{% block title %}
    Pomodoro Session
{% endblock %}


{% block content %}
    <section class="section">

    </section>
{% endblock %}

{% block scripts %}
    <script>Main.initTimer()</script>
{% endblock %}