{% extends "page.twig" %}
{% block title %}
    Pomodoro Session
{% endblock %}


{% block content %}
    <div class="timer__wrapper">
        <div class="timer__circle">
            <div class="timer__number">
                <h1>00:00:00</h1>
            </div>
        </div>
        {% include "components/player.twig" %}
    </div>

    <div class="playlist">
        <iframe width="" height="" src="https://www.youtube.com/embed/TE66McLMMEw" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        Main.initTimer({{ workingBlockLength }});</script>
{% endblock %}