{% extends "page.twig" %}
{% block title %}
    Pomodoro Configuration
{% endblock %}


{% block content %}
    <section class="section">
        <h2>Configuration</h2>
        <h3>Progress Bar...</h3>
        <div class="config-panel">

        </div>
    </section>
{% endblock %}